:root {
    --size: 200px;
    --blur: 0px;
    --bodyBG: #ffffff;
}

#image {
    width: var(--size);
    filter: blur(var(--blur));    
}

#parameters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}


body {
    background-color: var(--bodyBG);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

